---
// Define props for the component
const { label, id, name, placeholder, type, required } = Astro.props;
---

<style>
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 16px 0px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #843cd4;
    background-color: transparent;
    color: white;
  }

  label {
    position: absolute;
    top: 24px;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: all 0.5s ease;
    transform-origin: left top;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -4px;
    color: #843cd4;
  }

  input:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #843cd4;
    outline: transparent;
  }

  textarea {
    width: 100%;
    padding: 16px 0px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #843cd4;
    background-color: transparent;
    color: white;
  }

  textarea:focus + label,
  textarea:not(:placeholder-shown) + label {
    top: -4px;
    color: #843cd4;
  }

  textarea:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #843cd4;
    outline: transparent;
  }
</style>

<div class="input-container">
  {
    type == "textarea" ? (
      <textarea
        id={id}
        name={name}
        placeholder=" "
        required={required}
        rows={4}
      />
    ) : (
      <input
        type={type}
        id={id}
        name={name}
        placeholder=" "
        required={required}
      />
    )
  }

  <label for={id}>{label}</label>
</div>
